
process {
    // executor can be either 'local' or 'slurm' 
    executor = "slurm" 
    //"slurm or local"
    clusterOptions = "--account=rrg-jtrembla --export=ALL"
}

params {
    clusterOptions = "--account=rrg-jtrembla --export=ALL"

    DEFAULT {
        /* 
            IMPORTANT PARAMETERS - will determine the workflow configuration.
        */
        cluster_time = 6.h
        cluster_cpus = 1
        cluster_memory = 12.GB
        mapper = "star"
        // Other parameters that should usually stay the same from one project to another.
        raw_reads_dir = "./raw_reads"
        current_dir = "./"
        job_output_dir = "./jobs_output"
        // DO NOT FORGET TO SPECIFY A VALID TMP DIR.
        tmpdir = "/scratch/username/tmp/"
        raw_reads = "$projectDir/raw_reads/*_R{1,2}_001.fastq"
        outdir = "$projectDir/output/"
        mapping_file = "$projectDir/mapping_file.tsv"
        ref_genome = "$INSTALL_HOME/databases/single_cell/gencode_m10_GRCm38p4"
        gene_info = "$INSTALL_HOME/databases/single_cell/gencode_m10_GRCm38p4/geneInfo.tab"
        whitelist = "$INSTALL_HOME/databases/single_cell/3M-february-2018.txt"
        umi_length = 12
        chemistry = "Chromium V3"
        genome_info = "gencode_m10_GRCm38p4"
    }
    
    /*
        modules
    */
    modules {
        tools = "nrc/nrc_tools/1.3.2"
        java = "java/17.0.2"
        bbmap = "nrc/bbmap/39.00"
        perl = "nrc/perl/5.26.0"
        python = "nrc/python/3.9.0"
        R = "nrc/R/4.2.1"
        star = "nrc/STAR/2.7.10b"
        rtk = "nrc/rtk/0.93.2"
        bhtsne = "nrc/bhtsne/1.0"
        //python2 = "nrc/python/2.7.18"
        //bowtie2 = "nrc/bowtie2/2.3.2"
        //rdp_classifier = "nrc/rdp_classifier/2.5"
    }

    /*
        Customized parameters for individual processes
    */
    star {
        umi_length = 12
        num_threads = 16
        cluster_time = 10.h
        cluster_cpus = 16
        cluster_memory = 64000.MB
    }
}

manifest {
    name            = "SingleCell_nextflow"
    author          = """Julien Tremblay"""
    homePage        = "https://github.com/SingleCell"
    description     = """Sample by sample processing of single cell data."""
    mainScript      = "singlecell.nf"
    nextflowVersion = "!>=22.10.1"
    version         = "1.4.0"
    doi             = ""
}
